body {
    font-family: Arial, sans-serif;
    background-color: #f7e6f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.greeting {
    text-align: center;
    margin-bottom: 20px;
}

.envelope {
    width: 300px;
    height: 200px;
    background-color: #d16ba5;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-content {
    width: 90%;
    max-height: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: none; /* Скрыто изначально */
}

.letter-text {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #ff7eb9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin: 5px; /* Для отступа между кнопками */
}

button:hover {
    background-color: #ff5694;
}

@media (max-width: 768px) {
    .letter-content {
        max-height: 60vh;
    }
}
